<header>
  <p>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>My App</span>
        <span class="example-spacer"></span>

        <mat-icon (click)="visibilityOf()">{{
          hiden ? "expand_more" : "expand_less"
        }}</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </p>
</header>
<body [ngStyle]="{ 'background-color': 'white' }">
  <div
    [ngStyle]="{ display: 'flex', 'background-color': 'green' }"
    *ngIf="hiden"
  >
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi quasi
      necessitatibus itaque deleniti molestiae amet consectetur! Ab, assumenda
      cupiditate nostrum unde minus facere eius incidunt quas et ipsa iure! Ut.
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt,
      facere! Id, nisi? Consequatur, molestiae consequuntur voluptatibus,
      accusamus distinctio veritatis tenetur rerum corrupti ipsam quae
      necessitatibus nobis consectetur quisquam molestias ducimus!
    </p>
  </div>
</body>
