table {
  width: 60%;
  margin: 0 auto;
  margin-top: 4em;
  border: 1px solid #000;
  background-color: rgb(123, 196, 168);
}
th,
td {
  width: 25%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 0.3em;
  caption-side: bottom;
}
th {
  background: #eee;
}
